body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111827;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 48px;
}

.hero h3 {
    color: #38bdf8;
}

.btn {
    background: #38bdf8;
    color: black;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 60px 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.timeline, .project {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
}
